/*********************************************
 * FONT FAMILY
 *********************************************/
@font-face {
  font-family: 'FontAwesome47';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* source-code-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/source-code-pro-v8-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
       url('fonts/source-code-pro-v8-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/source-code-pro-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/source-code-pro-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/source-code-pro-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/source-code-pro-v8-latin-ext_latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SourceHanSerifSCSubset';
  font-weight: 300;
  src: /* local('Source Han Serif CN'), local('Source Han Serif SC'), */
    url('./fonts/SourceHanSerifSC-Light.subset.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'SourceHanSerifSCSubset';
  font-weight: 400;
  src: /* local('Source Han Serif CN'), local('Source Han Serif SC'), */
    url('./fonts/SourceHanSerifSC-Regular.subset.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'SourceHanSerifSCSubset';
  font-weight: 500;
  src: /* local('Source Han Serif CN'), local('Source Han Serif SC'), */
    url('./fonts/SourceHanSerifSC-Medium.subset.woff2') format('woff2'); /* Super Modern Browsers */
}


@font-face {
  font-family: 'SourceHanSerifSCSubset';
  font-weight: 600;
  src: /* locppal('Source Han Serif CN'), local('Source Han Serif SC'), */
    url('./fonts/SourceHanSerifSC-SemiBold.subset.woff2') format('woff2'); /* Super Modern Browsers */
}


@font-face {
  font-family: 'SourceHanSerifSCSubset';
  font-weight: 700;
  src: /* local('Source Han Serif CN'), local('Source Han Serif SC'), */
    url('./fonts/SourceHanSerifSC-Bold.subset.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'SourceHanSerifSCSubset';
  font-weight: 800;
  src: /* local('Source Han Serif CN'), local('Source Han Serif SC'), */
    url('./fonts/SourceHanSerifSC-Heavy.subset.woff2') format('woff2'); /* Super Modern Browsers */
}


/* DinkieBitmap 9px */
@font-face {
  font-family: 'DinkieBitmap 9px';
  font-style: normal;
  src: local('DinkieBitmap 9px'), local('丁卯点阵体 9px'),
       url('./fonts/DinkieBitmap-9px.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'DinkieBitmap 9px';
  font-style: italic;
  src: local('DinkieBitmap 9px:style=9px Italic'), local('丁卯点阵体 9px:style=9px Italic'),
       url('./fonts/DinkieBitmap-9pxItalic.woff2') format('woff2');
}


@font-face {
  font-family: '方正宋刻本秀楷';
  src: local('方正宋刻本秀楷');
}


/* EB Garamond
   copyright: http://www.georgduffner.at
*/
@font-face {
  font-family: 'EBG12-Re';
  src:  url( ./fonts/EBGaramond12-Regular.eot );
  src:  url('./fonts/EBGaramond12-Regular.woff') format('woff');
}
@font-face {
  font-family: "EBG12-Re";
  src:  url( ./fonts/EBGaramond12-Italic.eot );
  src:  url('./fonts/EBGaramond12-Italic.woff') format('woff');
  font-style: italic;
}
@font-face {
  font-family: "EBG08-Re";
  src:  url( ./fonts/EBGaramond08-Regular.eot );
  src:  url('./fonts/EBGaramond08-Regular.woff') format('woff');
}
@font-face {
  font-family: "EBG08-Re";
  src:  url( ./fonts/EBGaramond08-Italic.eot );
  src:  url('./fonts/EBGaramond08-Italic.woff') format('woff');
  font-style: italic;
}
@font-face {
  font-family: "EBG08-SC";
  src:  url( ./fonts/EBGaramondSC08-Regular.eot );
  src:  url('./fonts/EBGaramondSC08-Regular.woff') format('woff');
}
@font-face {
  font-family: "EBG12-SC";
  src:  url( ./fonts/EBGaramondSC12-Regular.eot );
  src:  url('./fonts/EBGaramondSC12-Regular.woff') format('woff');
}
@font-face {
  font-family: "EBGInit";
  src:	url( ./fonts/EBGaramond-Initials.eot );
  src:	url('./fonts/EBGaramond-Initials.woff') format('woff');
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --fg1:#FFFFEF;
  --fg:#DCDCCC;
  --fg-1:#656555;
  --bg-2:#000000;
  --bg-1:#2B2B2B;
  --bg-05:#383838;
  --bg:#3F3F3F;
  --bg05:#494949;
  --bg1:#4F4F4F;
  --bg2:#5F5F5F;
  --bg3:#6F6F6F;
  --red2:#ECB3B3;
  --red1:#DCA3A3;
  --red:#CC9393;
  --red-1:#BC8383;
  --red-2:#AC7373;
  --red-3:#9C6363;
  --red-4:#8C5353;
  --red-5:#7C4343;
  --red-6:#6C3333;
  --orange:#DFAF8F;
  --yellow:#F0DFAF;
  --yellow-1:#E0CF9F;
  --yellow-2:#D0BF8F;
  --green-5:#2F4F2F;
  --green-4:#3F5F3F;
  --green-3:#4F6F4F;
  --green-2:#5F7F5F;
  --green-1:#6F8F6F;
  --green:#7F9F7F;
  --green1:#8FB28F;
  --green2:#9FC59F;
  --green3:#AFD8AF;
  --green4:#BFEBBF;
  --cyan:#93E0E3;
  --blue3:#BDE0F3;
  --blue2:#ACE0E3;
  --blue1:#94BFF3;
  --blue:#8CD0D3;
  --blue-1:#7CB8BB;
  --blue-2:#6CA0A3;
  --blue-3:#5C888B;
  --blue-4:#4C7073;
  --blue-5:#366060;
  --magenta:#DC8CC3;
}

.reveal-viewport {
  color: var(--fg);
  background: var(--bg);
}

body {
  color: var(--fg);
  background: var(--bg);
}

.reveal {
  font-family: 'EBG12-Re', 'SourceHanSerifSCSubset', 'FontAwesome47', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--fg);
}

::selection {
  color: var(--fg1)
         background: var(--bg3);
  text-shadow: none; }

::-moz-selection {
  color: var(--fg1);
  background: var(--bg3);
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
  padding: 0px 0px;
}

.reveal .slides li {
  line-height: 1.1;
  margin: 0.25ex 0px 0.25ex 0px;
}

.reveal .slides li p {
  line-height: 1.1;
  margin: 0.5ex 0px 0.25ex 0px;
}

.reveal .slides section .fragment.highlight-red.visible {
  font-weight: 600;
  color: var(--fg1);
}

.reveal .slides section .fragment.gray-out {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.gray-out.visible {
  opacity: 0.5; }

.reveal .slides section .fragment.shrink.visible {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: left;
  transform-origin: left; }

.reveal .slides section .fragment.grow.visible {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transform-origin: left;
  transform-origin: left; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  top: 0;
  left: 0;
  color: var(--fg1);
  font-family: 'EBG12-SC', 'SourceHanSerifSCSubset', 'FontAwesome47', sans-serif;
  font-weight: 800;
  letter-spacing: normal;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  width: auto;
  word-wrap: break-word;
}

/* h1 is used on the title slide. */
.reveal h1 {
  line-height: 1.2;
  font-size: 2.9em;
  font-weight: 900;
}

/* h2 is used for sections that appear in the TOC. */
.reveal h2 {
  font-size: 2.9em;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
}

.reveal h3 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto 15px auto;
  border-bottom: solid var(--bg3) 0.1em;
}
.reveal h4 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto 10px auto;
}

/* Footer; TOC progress plugin has height 9.5vh. */
.reveal .slide-footer {
  height: 9.5vh;
  pointer-events: none;
  clear: both;
}

/*********************************************
 * SLIDES
 *********************************************/

.reveal .slides {
  text-align: left;
}

.reveal .leftcol {
  float: left;
  width: 48%;
}

.reveal .rightcol {
  float: right;
  width: 48%;
}

.reveal .leftcol30 {
  float: left;
  width: 28%;
}

.reveal .rightcol30 {
  float: right;
  width: 28%;
}

.reveal .leftcol40 {
  float: left;
  width: 38%;
}

.reveal .rightcol40 {
  float: right;
  width: 38%;
}

.reveal .leftcol60 {
  float: left;
  width: 58%;
}

.reveal .rightcol60 {
  float: right;
  width: 58%;
}

.reveal .leftcol65 {
  float: left;
  width: 62%;
}

.reveal .rightcol65 {
  float: right;
  width: 62%;
}

.reveal .leftcol70 {
  float: left;
  width: 68%;
}

.reveal .rightcol70 {
  float: right;
  width: 68%;
}

.reveal .rightcol img,
.reveal .rightcol30 img,
.reveal .rightcol40 img,
.reveal .rightcol60 img,
.reveal .rightcol70 img,
.reveal .rightcol org-svg,
.reveal .rightcol30 org-svg,
.reveal .rightcol40 org-svg,
.reveal .rightcol60 org-svg,
.reveal .rightcol65 org-svg,
.reveal .rightcol70 org-svg {
  float: right;
}

.reveal .leftcol img,
.reveal .leftcol30 img,
.reveal .leftcol40 img,
.reveal .leftcol60 img,
.reveal .leftcol70 img,
.reveal .leftcol .org-svg,
.reveal .leftcol30 .org-svg,
.reveal .leftcol40 .org-svg,
.reveal .leftcol60 .org-svg,
.reveal .leftcol65 .org-svg,
.reveal .leftcol70 .org-svg {
  float: left;
}

.reveal .flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.reveal .flexbox-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.reveal .flexbox-start {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.reveal .flexbox-end {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reveal .flexbox-baseline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  align-items: baseline;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reveal .flexbox-stretch {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.reveal .flexcol {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.reveal .flexcol-left {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.reveal .flexcol-right {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.reveal .scalebox90 {
  -ms-transform: scale(0.9, 0.9); /* IE 9 */
  -webkit-transform: scale(0.9, 0.9); /* Safari */
  transform: scale(0.9, 0.9);
}

.reveal .scalebox80 {
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari */
  transform: scale(0.8, 0.8);
}

.reveal .scalebox70 {
  -ms-transform: scale(0.7, 0.7); /* IE 9 */
  -webkit-transform: scale(0.7, 0.7); /* Safari */
  transform: scale(0.7, 0.7);
}

.reveal .scalebox60 {
  -ms-transform: scale(0.6, 0.6); /* IE 9 */
  -webkit-transform: scale(0.6, 0.6); /* Safari */
  transform: scale(0.6, 0.6);
}

.reveal .scalebox50 {
  -ms-transform: scale(0.5, 0.5); /* IE 9 */
  -webkit-transform: scale(0.5, 0.5); /* Safari */
  transform: scale(0.5, 0.5);
}
/*******************************************************************
 * Figures without captions
 *
 * With Org-Reveal, by defaults those are converted into plain imgs.
 * Float to the right.
 ******************************************************************/

.reveal section img {
  margin: 5px 5px;
  display: block;
  border: none;
  background: rgba(255, 255, 255, 0);
}

.reveal iframe {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*******************************************************************
 * Figures with captions
 *
 * With Org-Reveal, by default those are converted into divs.
 * If they are contained inside lists, let them float to the right.
 * Otherwise, center.
 * Omit figure numbers, center captions.
 ******************************************************************/

/* Center by default.
 * Right padding is to make space for the rotated license text
 * (if present). */
.reveal .imgcontainer, .reveal figure, .reveal div.figure, .reveal svg {
  position: relative;
  padding-right: 2vw;
  text-align: center; }

.reveal .imgcontainer figure, .reveal .imgcontainer div.figure {
  margin: 3px 5px;
  display: inline-block; }

.reveal div.figure img {
  float: none; }

/* No figure and table numbers. */
.reveal .figure-number, .reveal .table-number {
  display: none; }

/* Adjust background color for slide number.
 * Use color of TOC footer (hard-coded in reveal-config.el). */
.reveal .slide-number {
  background-color: var(--bg3); }

/* Right in lists. */
.reveal li > figure,
.reveal li > div.figure {
  float: right; }

/* Org embeds img elements into p elements without text. */
.reveal div.figure p {
  margin: 0;
  line-height: 1.0; }

/* Org creates caption as sibling, I as second child. */
.reveal div.figure + p, .reveal div.figure p:nth-child(2), .reveal figcaption {
  margin: 0;
  font-size: .5em;
  line-height: 1.0;
  color: rgba(34, 34, 34, 0.3); }

/* Display license of image rotated, in smaller font.
   Move to right, with same amount as padding-right above. */
.reveal div.figure p:nth-child(3) {
  font-size: .25em;
  opacity: 0.5;
  text-align: right;
  margin: 5px;
  position: absolute;
  right: 2vw;
  top: 0px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: top right;
  transform-origin: top right; }

/*********************************************
 * OTHER
 *********************************************/

.reveal .shadowed {
  filter: drop-shadow(0px 15px 10px rgba(0,0,0,0.55));
}

div.legalese {
  font-size: 2vh;
  position: fixed;
  left: 3px;
  bottom: 0;
  z-index: 50; }

div.ribbon-legalese {
  z-index: 50;
  color: #fff;
  background: var(--bg3);
  font-size: 14px;
  text-align: center;
  padding: 3px 10px;
  width: 260px;
  line-height: 0.3em;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: -75px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.55); }

div.ribbon-legalese a {
  color: #fff;
  text-decoration: none;
}

#forkmeongitlab a, #forkmeongitlab-right a {
  z-index: 20;
  color: #fff;
  background: var(--bg3);
  text-decoration: none;
  text-align: center;
  padding: 3px 20px;
  font-size: 1em;
  width: 180px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.55); }

#forkmeongitlab a {
  line-height: 1.4em;
  top: 45px;
  left: -50px; }

#forkmeongitlab-right a {
  line-height: 1.5em;
  padding: 5px 30px;
  width: 180px;
  top: 50px;
  right: -50px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.55); }

#forkmeongitlab a:hover, #forkmeongitlab-right a:hover {
  font-weight: 600; }

#slide-license p {
  font-size: .8em; }

.reveal .talk-title,
.reveal .talk-title h1 {
  color:var(--fg1);
  font-size:1.8em;
  margin: 80px 0px 30px 0px;
}

.reveal .talk-subtitle p{
  color:var(--red2);
  font-weight: 600;
  font-size: .8em;
  line-height: 1.0;
  margin: 0; }

.reveal .talk-author {
  /* nothing special */
  font-weight: 500;
  color: var(--fg);
}
.reveal .keyboard-usage p {
  margin: 1ex 0;
  font-size: 0.7em;
  color: var(--fg);
}

.reveal .talk-date {
  color: var(--fg1);
  font-size:.6em;
}

.reveal p {
  margin: 20px 0;
  line-height: 1.2;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal div.figure,
.reveal figure,
.reveal object,
.reveal svg,
.reveal video,
.reveal iframe {
  max-width: 90%;
  max-height: 90%;
}

/* center videos */
.reveal video {
  display: block;
  margin: 1ex auto;
}

.reveal .smaller, .reveal .smaller-nomargin, .reveal .slide-source {
  line-height: 1.1;
  font-size: 0.6em;
}

.reveal .smaller-nomargin {
  margin: 0;
}

.reveal .slide-source {
  text-align: right;
  clear: both;
  opacity: 0.6;
}

.reveal strong,
.reveal b {
  font-weight: 700;
  color: var(--fg1);
}

.reveal em,
.reveal i{
  font-style: italic;
}

.reveal mark {
  border: 0 solid;
  border-radius:8px;
  padding: 0.1em;
  margin: 0 auto;
  -moz-border-radius:8px;
  color: var(--fg1);
}
.reveal .slides dl,
.reveal .slides ul,
.reveal .slides ol {
  list-style: none;
  list-style-position: outside;
  text-align: left;
  padding: 0;
  margin: 0;
  counter-reset: my-awesome-counter;
}

.reveal .slides ol li,
.reveal .slides ul li {
  padding-left: 1.3em;
  counter-increment: my-awesome-counter;
}

.reveal .slides ol li:before {
  content: counter(my-awesome-counter) ".";
  /* color: #303030; */
  font-family: "EBG12-Re", "Source Han Sans SC", "Source Han Sans", "Source Han Sans CN", "Noto Sans", "Noto Sans CJK", "Noto Sans SC", 'FontAwesome47', Helvetica, sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.reveal .slides ul li:before {
  content: "\f105"; /* FontAwesome47 Unicode */
  /* color: #303030; */
  font-weight: 600;
  font-family: 'FontAwesome47', Helvetica, sans-serif;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.reveal .slides ol ul li,
.reveal .slides ul ul li,
.reveal .slides ol ol ul li,
.reveal .slides ol ul ul li,
.reveal .slides ul ol ul li,
.reveal .slides ul ul ul li {
  padding-left: 1.3em;
}

.reveal .slides ol ul li:before,
.reveal .slides ul ul li:before,
.reveal .slides ol ol ul li:before,
.reveal .slides ol ul ul li:before,
.reveal .slides ul ol ul li:before,
.reveal .slides ul ul ul li:before {
  content: "\f101"; /* FontAwesome47 Unicode */
  /* color: #303030; */
  font-weight: 600;
  font-family: 'FontAwesome47', Helvetica, sans-serif;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.reveal .slides ul ul,
.reveal .slides ul ol,
.reveal .slides ol ol,
.reveal .slides ol ul {
  display: block;
  font-size: 0.8em;
  margin-left: 0; }

.reveal .org-ref-bib {
  font-size: 0.6em;
  overflow: auto;
  padding-right: 5px;
  max-height: 22em; }

.reveal .org-ref-bib li {
  padding-left: 1em;
  text-indent: -1em;
  list-style-type: none;
  line-height: normal; }

.reveal dt {
  font-weight: 600; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  font-size: 0.8em;
  background: var(--bg2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  margin: 1ex auto;
  overflow: auto;
  /* line-height: 0.5em; */
  /* max-height: 22em; */
  max-width: 95%;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  word-wrap: normal;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.org-src-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

code {
  font-size: 0.75em;
}

.reveal pre code {
  display: block;
  padding: 2px;
  overflow: hidden;
  max-height: 400px;
  word-wrap: normal;
  width: 100%;
  font-size: 0.75em !important;
  line-height: 110%;
  background: var(--bg-1);
}

.reveal code {
  color: var(--fg);
  background: var(--bg-1);
  font-family: 'Source Code Pro', monospace;
  font-size: 0.75em !important;
  padding: 0.05em 0.1ex;
  border-radius: 5px;
}

.reveal .src {
  color: var(--fg);
  background: var(--bg-1);
  width: 100%;
  font-family: 'Source Code Pro', monospace;
}

.reveal section table {
  margin: 20px auto;
  line-height: 1.1;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal section table th {
  background-color: var(--bg2);
  font-weight: 600;
  border-top: 2px solid;
}

.reveal section table tbody {
  border-width: thick;
  border-color: var(--fg01);
}

.reveal section table tr:nth-child(even) {
  background-color: var(--bg3);
}
.reveal section table tr:nth-child(odd) {
  background-color: var(--bg1);
}

.reveal section table th,
.reveal section table td {
  font-size: 0.8em;
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal .emacs-table td {
  font-size: 0.6em;
}

.reveal .emacs-table th {
  font-size: 0.7em;
}

.reveal section table th[align="center"],
.reveal section table td[align="center"] {
  text-align: center;
}

.reveal section table th[align="right"],
.reveal section table td[align="right"] {
  text-align: right;
}

.reveal .org-center {
  text-align: center;
}

.reveal .org-right {
  text-align: right;
}

.reveal section table tbody tr:last-child th,
.reveal section table tbody tr:last-child td {
  border-bottom: 2px solid;
}

.reveal sup {
  vertical-align: super;
  font-size: 70%;
  line-height: 0; }

.reveal sub {
  vertical-align: sub;
  font-size: 70%;
  line-height: 0; }

.reveal small {
  display: inline-block;
  font-size: 60%;
  line-height: 1.1;
  vertical-align: baseline;
}

.reveal small * {
  vertical-align: middle;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--yellow);
}
.reveal .slides a[href] not(org-ref-reference) {
  color: var(--yellow);
  text-decoration: underline dotted;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal .org-ref-reference {
  font-family: 'FontAwesome47', Helvetica, sans-serif;
  font-size: .6cm;
  color: var(--blue-3);
}

.reveal .org-ref-reference:before {
  content: "\f0f6\ ";
}

.reveal .slides a[href^="http"],
.reveal .slides a[href^="news:"],
.reveal .slides a[href^="mailto:"] {
  color: var(--yellow);
}

.reveal .slides a[href^="#"]:not(.nooutlink):after,
.reveal .slides .figure a[href]:after, .reveal .src a[href]:after,
.reveal .slides a[href]:empty:after {
  content: none;
}

/* Indicate direction of internal link. */
.reveal .slides a[href].backwardlink::before {
  content: "\25c2\00a0";
}
.reveal .slides a[href].forwardlink::after {
  content: "\00a0\25b8";
}
n
.reveal .slides a[href]:hover {
  font-weight: 600;
  text-shadow: none;
  border: none; }

.reveal .slides a[id] {
  font-size: 85%;
  color: var(--bg3);
}

.reveal .slides a[id]:hover {
  font-weight: 500;
}

.reveal .slides .roll span:after {
  color: #fff;
  background: var(--blue);
}

/* footer TOC */

.reveal footer a[href] {
  color: var(--yellow);
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal footer a[href^="http"],
.reveal footer a[href^="news:"],
.reveal footer a[href^="mailto:"] {
  color: var(--yellow);
}

.reveal footer a[href^="#"]:not(.nooutlink):after,
.reveal footer .figure a[href]:after, .reveal .src a[href]:after,
.reveal footer a[href]:empty:after {
  content: none;
}

/* Indicate direction of internal link. */
.reveal footer a[href].backwardlink::before {
  content: "\25c2\00a0";
}
.reveal footer a[href].forwardlink::after {
  content: "\00a0\25b8";
}

.reveal footer a[href]:hover {
  font-weight: 600;
  text-shadow: none;
  border: none;
}

.reveal footer a[id] {
  color: var(--bg3);
}

.reveal footer a[id]:hover {
  font-weight: 500; }

.reveal footer .roll span:after {
  color: var(--fg);
  background: var(--blue);
}

.reveal .remarkbox {
  background-color: var(--bg1);
  font-size: 0.7em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal .examplebox {
  background-color: var(--bg2);
  font-size: 0.7em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  font-family: serif;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal .popupbox {
  background-color: var(--red-4);
  z-index: 100;
  color: var(--fg);
  font-size: 1em;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.55);
}

.reveal .popupbox-blue {
  background-color: var(--blue-5);
  color: var(--fg);
  z-index: 100;
  font-size: 1em;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.55);
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgborra(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  z-index: 30; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: var(--bg-1);
}

.reveal .progress span {
  background: var(--yellow-2);
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.reveal .controls button {
  color: var(--yellow);
}
/********************************************
TOC-Progress plugin
*********************************************/
#toc-progress-footer {
  color: var(--yellow-2);
  font-family: "EBG12-Re", "Source Han Sans SC", "Source Han Sans", "Source Han Sans CN", "Noto Sans", "Noto Sans CJK", "Noto Sans SC", 'FontAwesome47', Helvetica, sans-serif;
  line-height: 1.1;
  width: 100%;
  height: 9.5vh;
  font-size: 1.55vh;
  padding-top: 0.1vh;
  padding-bottom: 0.1vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
}
#toc-progress-footer-main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  font-size: medium;
}
#toc-progress-footer-secondary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: small;
}
